@import url("https://fonts.googleapis.com/css?family=Comic+Neue&display=swap");
#root,
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card {
    font-family: "Comic Neue", cursive;
    background-color: rgb(26, 24, 30);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    color: whitesmoke;
    width: 100%;
    margin-top: 50px;
}
.btn-img,
.btn-play,
.btn-auto,
.btn-narrate {
    width: fit-content;
    font-size: large;
}
.header {
    font-size: 50px;
    padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn-img,
    .btn-play,
    .btn-auto,
    .btn-narrate {
        width: fit-content;
        font-size: x-small;
    }
    .header {
        font-size: x-large;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .btn-img,
    .btn-play,
    .btn-auto,
    .btn-narrate {
        width: fit-content;
        font-size: small;
    }
    .header {
        font-size: xx-large;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .btn-img,
    .btn-play,
    .btn-auto,
    .btn-narrate {
        width: fit-content;
        font-size: medium;
    }
    .header {
        font-size: 40px;
    }
}
